<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale = 1, width = device-width">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<link rel="icon" type="image/x-icon" href="/static/titleb.png">
	<script src="static/jquery.js"></script>
        {%block head%}
        {%endblock%}
	<link rel="stylesheet" type="text/css" href="static/home.css">
    </head>
    <body>
        {% block body %}
        {% block header%}
        <header>
            <div class="logo"> 
                <h1 > MO </h1>
                <h2 > McMao </h2>
            </div>
            <nav>
                <ul>
                    <li><a href="" class="active">Dashboard</a></li>
                    <li><a href="/statement">Statements</a></li>
                    <!--
                        <li><a href="/goals">Goals</a></li>
                        <li><a href="/notes">Notes</a></li>
                    -->
                    <li><a href="/profile">Profile</a></li>
                </ul>
            </nav>
        </header>
        {%endblock%}
        {%endblock%}
    </body>
</html>
