<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale = 1, width = device-width">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<link rel="icon" type="image/x-icon" href="/static/titleb.png">
	<script src="static/jquery.js"></script>
        {%block head%}
        {%endblock%}
	<link rel="stylesheet" type="text/css" href="static/home.css">
    </head>
    <body>
        {% block body %}
        {%endblock%}
    </body>
</html>
