{% extends "layout.html" %}
{%block head%}
   <title>Notes</title>
    <link rel="stylesheet" href="static/notes.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
{%endblock%}

{%block body%}
    <header>
	    <div class="logo"> 
		    <h1 > MO </h1>
		    <h2 > McMao </h2>
		</div>
		<nav>
			<ul>
				<li><a href="/">Dashboard</a></li>
				<li><a href="/statement">Statements</a></li>
				<li><a href="/goals">Goals</a></li>
				<li><a href="" class="active">Notes</a></li>
				<li><a href="/profile">Profile</a></li>
			</ul>
		</nav>
	</header>
    <div class="popup-box">
      <div class="popup">
        <div class="content">
          <header>
            <p></p>
            <i class="uil uil-times"></i>
          </header>
          <form action="#">
            <div class="row title">
              <label>Title</label>

              <input type="text" spellcheck="false">
            </div>
            <div class="row description">
              <label>Description</label>
              <textarea spellcheck="false"></textarea>
            </div>
            <label>Reminder</label>
            <input type="datetime-local"> 
            <div>
              
            </div>
              <br>

            <button class="add-note"></button>
          </form>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <li class="add-box">
        <div class="icon"><i class="uil uil-plus"></i></div>
        <p>Add new note</p>
      </li>
    </div>

    <script src="static/notes.js"></script>
{%endblock%}
