<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Profile</title>
</head>
<body>
    <header>
	    <div class="logo"> 
		    <h1 > MO </h1>
		    <h2 > McMao </h2>
		</div>
		<nav>
			<ul>
				<li><a href="/" >Dashboard</a></li>
				<li><a href="/statement">Statements</a></li>
				<li><a href="/goals">Goals</a></li>
				<li><a href="/notes">Notes</a></li>
				<li><a href="/profile"class="active">Profile</a></li>
			</ul>
		</nav>
	</header>
  
  <div class="container">
    <div class="leftbox">
      <nav>
        
      </nav>
    </div>
    <div class="rightbox" style="text-align:center">
	<form action="/logout"> 
      <h1 style="margin-top:30px ;">Personal Info</h1>
      <h2>{{name}}</h2>
      <button type="submit" >Log out</button>
    </div>
	</form>
  </div>
   

  <script src="static/profile.js"></script>
  <script>
     const tabBtn = document.querySelectorAll(".tab");
  </script>
  <script>

  </script>
</body>
</html>

